<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {{!-- DNS 预抓取 --}}
    {{!-- <link rel="dns-prefetch" href="//resource.gamefy.cn"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {{!-- 横屏  --}}
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    {{!-- iPhone WebApp --}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{{title}}</title>
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/highlight.js/9.1.0/styles/tomorrow.min.css" rel="stylesheet">
    {{#each assets.css}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <script type="text/javascript">
    var initData = {{{initData}}}
    </script>
  </head>
  <body>
    <div class="site-wrapper">
      {{{body}}}
    </div>
    <script src="//cdn.bootcss.com/highlight.js/9.1.0/highlight.min.js"></script>
    {{#each assets.js}}
    <script src="{{this}}" charset="utf-8"></script>
    {{/each}}
  </body>
</html>
